.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: sans-serif;
}

.logo-pic {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.profile-pic {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.profile-image {
  border-radius: 50%;
}
.profile-info {
  align-self: center;
  text-align: center;
  font-family: sans-serif;
}

.name {
  font-size: 3rem;
  text-align: center;
}
.text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.socials-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.para_p1 {
  font-size: 1.5rem;
  text-align: center;
  font-family: sans-serif;
}

.gap-2 {
  gap: 0.5rem;
}
